<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="./../static/main.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
        <title>Početna stranica</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;" data-bs-theme="light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                Winvy
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Dodaj artikl</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Ukloni artikl</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Uredi artikl</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Analiziraj artikle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pregled artikala</a>
                        </li>
                    </ul>
              </div>
          </div>
        </nav>
        <div class="opis">
            <h1>Opis projekta</h1>
            <p>Navedeni projekt je kreiran za kolegij Informacijski sustavi te je važnost navedenog projekta od velikog značaja s obzirom da uvodi backend logiku, baze<br> podataka te detaljniji frontend development unutar izrade web servisa koji se izrađuje za ovaj projekt.</p>
            <p>Winvy je kreirao: Alex Mihatović 1. godina fakulteta informatike, redovni smjer informatika.</p>
        </div>
        {% block content %}
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>