<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='Logo.PNG')}}">
    <title>Winvy</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;" data-bs-theme="light">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='Logo.PNG') }}" alt="Logo" width="30" height="40" class="d-inline-block align-text-top">
                Winvy
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dodaj_artikle">Dodaj artikl</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ukloni_artikle">Ukloni artikl</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/uredi_artikle">Uredi artikl</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/analiziraj_artikle">Analiziraj artikle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pregledaj_artikle">Pregledaj artikle</a>
                        </li>
                    </ul>
              </div>
          </div>
    </nav>
    {% block content %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>